# Supabase 저장소 접속 URL
DATABASE_URL="postgresql://postgres:[]@db.[].supabase.co:5432/postgres"

# Supabase 프로젝트 URL
NEXT_PUBLIC_SUPABASE_PROJECT_URL="https://[].supabase.co"

# Supabase 프로젝트 API 키
# This key is safe to use in a browser if you have enabled Row Level Security for your tables and configured policies.
NEXT_PUBLIC_SUPABASE_PROJECT_API_KEY=""